@import url(./navbar.css);
@import url(./banner.css);
@import url(./services.css);
@import url(./about.css);
@import url(./contact.css);
:root{
    --background: #E6E7E8;
    --secondary: #176297;   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-layout{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.container{
    display: grid;
    grid-template-rows: 100vh 100vh 100vh 100vh 60px;
}


/*services*/
/*about*/
/*Contact*/
 /*footer*/
.footer{
    border-top: 2px solid white;
    background-color: black;
    padding: 0 10%;
    color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}